@model PersonelControlSystem.Dtos.ShiftDto.ResultShiftDto

@{
    ViewData["Title"] = "CreateShift";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Vardiya İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni Vardiya Girişi</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="shifthours">Vardiya Saat Aralıklarını Giriniz (00.00 - 00.00)</label>
								<input type="text" class="form-control" id="shifthours" asp-for="ShiftHours" placeholder="Vardiya">
							</div>
						</div>

					</div>
					<div class="card-action">
						<button class="btn btn-primary">Vardiya Ekle</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

