@model List<PersonelControlSystem.Dtos.ShiftDto.ResultShiftDto>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Striped Table with Hover</h4>
                        <p class="card-category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                            <th>#</th>
                            <th>Vardiya</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ShiftID</td>
                                        <td>@item.ShiftHours</td>
                                        <td><a href="#" class="btn btn-danger">Sil</a></td>
                                        <td><a href="#" class="btn btn-info">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <a href="#" class="btn btn-primary">Vardiya Ekle</a>
            </div>
        </div>
    </div>
</div>

