@model PersonelControlSystem.Dtos.LocationDto.UpdateLocationDto

@{
    ViewData["Title"] = "UpdateLocation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Lokasyon İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Lokasyon Güncelleme Sayfası</div>
						</div>
						<div class="card-body">
							<input type="hidden" asp-for="LocationID" />
							<div class="form-group">
								<label for="categoryname">Lokasyon Adını Giriniz</label>
								<input type="text" class="form-control" id="locationname" asp-for="LocationName" placeholder="Lokasyon Adı">
							</div>
						</div>

					</div>
					<div class="card-action">
						<button class="btn btn-primary">Lokasyon Güncelle</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

